/**
 * Spacer Units
 *
 * @TODO: tie this into vertical rhythm units in typography partial
 * @TODO: audit
 */


/**
 * Components
 *
 * Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
 *
 */

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        0; //3px !default;
$border-radius-large:       0; //3px !default;
$border-radius-small:       0; //3px !default;


// top padding
.padding-top-sm {padding-top:10px;}
.padding-top-md {padding-top:15px;}
.padding-top-lg {padding-top:20px;}

// right margin
.margin-right-sm {padding-right:10px;}
.margin-right-md {padding-right:15px;}
.margin-right-lg {padding-right:20px;}

// Top margin
.margin-top-sm {
  margin-top:5px;
  }
.margin-top-md {
  margin-top:10px;
  }
.margin-top-lg {
  margin-top:20px;
  }

// left margin
.margin-left-sm {padding-right:10px;}
.margin-left-sm {padding-right:15px;}
.margin-left-sm {padding-right:20px;}


